<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
</head>
<body id="b">
    <ul class="horizontal ws-black">
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/subjects">subjects</a></li>
        {% if 'logged_in' in session %}
        You are logged in as {{ session.first_name }}!
        <a href="/logout">logout</a>
        {% else %}
        <li><a href="/login">Login</a></li>
        <li><a href="{{ url_for('student_add') }}">Sign Up</a></li>
        {% endif %}
        {% block content %}
        {% endblock %}
        {% for message in get_flashed_messages() %}
        <p>{{ message }}</p>
        {% endfor %}
    </ul>
</body>
</html>
