<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/custom.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap" rel="stylesheet">
</head>
<body>
    <div class="bg-img" style="border-bottom: 5px solid green; ">
        <div class="container">
            <div class="topnav">
                <a href="/">Home</a>
                <a href="subjects">Subjects</a>
                {% if 'logged_in' in session %}
                <a href="/view?id={{ session['id']}}">View profile</a>
                <a href="/subjectchoices?id={{ session['id']}}">Selected subjects</a>
                
                You are logged in as {{ session.first_name }}!
                <a href="/logout">logout</a>
                {% else %}
                <a href="{{ url_for('student_add') }}">Sign Up</a>
                <a href="/login">Login</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div id="owo">
        {% block content %}
        {% endblock %}
    </div>
    <ul class="horizontal ws-black">
        {% for message in get_flashed_messages() %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    <footer>
        <hr size="1" width="98%" color="black">
        <ul class="list-inline">
            <li class="list-inline-item"><a href="/">Home</a></li>
            <li class="list-inline-item"><a href="#">About</a></li>
            <li class="list-inline-item"><a href="#">Terms</a></li>
            <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
        </ul>
        <p class="copyright">me © 2022</p>
    </footer>
</body>
</html>
