{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>year</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.subject_name }}</td>
        <td>{{ row.subject_code }}</td>
        <td>{{ row.year }}</td>
        <td>
            <a href="{{url_for('unselect', id=row.id)}}" onclick="return confirm('Are you sure?')">Unselect</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('list_subjects') }}">Select new subjects</a>
{% endblock %}
