{% extends '_layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<table>
    <tr>
        <th>Name</th>
        <th>Code</th>
        <th>year</th>
        <th>Actions</th>
    </tr>
    {% for row in result %}
    <tr>
        <td>{{ row.subject_name }}</td>
        <td>{{ row.subject_code }}</td>
        <td>{{ row.year }}</td>
        <td>
            <a href="{{url_for('select', students_id=session['id'], subjects_id=row.id)}}">Select this subject</a>
            <a href="/edits?id={{ row.id }}">Edit</a>
            <a href="/delete?id={{ row.id }}" onclick="return confirm('Are you sure?')">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
<a href="{{ url_for('subject_add') }}">Add a subject</a>
{% endblock %}
