{% extends '_layout.html' %}

{% block title %}View profile{% endblock %}

{% block content %}

<h1>{{ result.subject_name }} {{ result.subject_code }}</h1>

<p><a href="mailto:{{ result.email }}">{{ result.email }}</a></p>

<p>
    <a class="btn" href="/edit?id={{ result.id }}">Edit</a>
    <a class="btn" href="/deletes?id={{ result.subject_id }}" onclick="return confirm('Are you sure?')">Delete</a>
</p>
<p>
    <a class="btn" href="{{ url_for('list_students') }}">Back to dashboard</a>
</p>

{% endblock %}

